html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.panel-faq-container{
    /* border: 1px solid white; */
    margin-bottom: -16px;
}

.panel-faq-title{
    font-weight:400;
    color: thistle;
    cursor:pointer;
}

.panel-faq-answer{
    /* padding: 15px;
    display: none;
    border: 10px solid red; */
    height: 0px;
    overflow: hidden;
    transition: all .5s;
}

#btn-all-close{
    margin-bottom: 10px;
    background-color: #726996;
    border: none;
    color:white;
    cursor: pointer;
    padding: 5px 15px;
    float: right;
}

#btn-all-close:hover{
    background-color: plum;
    color: black;
    transition: all .3s;
}

.active {
    display: block;
    height: 250px;
}