button{
    width: 120px;
    background-color: pink;
    border: none;
    color: black;
    cursor: pointer; /* wait, crosshair, not-allowed, zoom-in, grab */
    padding: 5px 15px;
    transition: 0.3s;
}

button:hover{
    background-color: beige;
}