button {
    background-color: palevioletred;
    color: white;
    margin-bottom: 0px;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: aquamarine;
}