button {
    width: 100px;
    background-color: palevioletred;
    color: white;
    margin-bottom: 0px;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: aquamarine;
}

@font-face {
    font-family: 'MonoplexKR-Italic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'MonoplexKR-Italic';
}